#jct_sample {
height: 160px;
line-height: 160px;
border-top: #ff0000 solid 1000px;
border-bottom: #ff0000 solid 10px;
margin-bottom: 40px;
}

#jct_sample span {
font-size: 150%;
color: #ff0000;
}
    .wrap {
        max-width: 1200px;
        margin: 0 auto;
        color: #333
    }

    .breadcrumb {
        max-width: 1200px;
        margin: 0 auto;
        padding: 10px 0;
        color: #333
    }

    .h1Area {
        background-color: #000;
        line-height: 1.5em
    }

    h1 {
        max-width: 1200px;
        margin: 0 auto
    }

    h2 {
        text-align: left;
        font-size: 150%;
        font-weight: bold;
        color: #333;
        margin-bottom: 20px
    }

    h3 {
        text-align: left;
        font-size: 130%;
        font-weight: bold;
        color: #333;
        margin-top: 30px;
        margin-bottom: 20px
    }

    .heroArea {
        position: relative;
        height: 0;
        padding-top: 25%;
        background-image: url("//c.s-microsoft.com/ja-jp/CMSImages/connect2017_hero_pc.jpg?version=4d2ab18a-29e1-05e8-8046-5e2e1e500d67");
        background-size: contain
    }

    .heroArea h2 {
        position: absolute;
        color: #fff;
        font-weight: bold;
        top: 25%;
        left: 3%;
        text-align: left;
        font-size: 170%;
        margin-top: 0
    }

    .heroArea a {
        position: absolute;
        padding: 10px 15px;
        text-align: center;
        border: 1px solid #d0d0d0;
        background-color: #fff;
        color: #0078d7;
        bottom: 10%;
        left: 3%;
        font-size: 150%
    }

    .streaming {
        background-color: #000;
        padding: 20px 0
    }

    .streamingLive {
        position: relative;
        max-width: 640px;
        border: 1px solid #333
    }

    .streamingLive:before {
        content: "";
        display: block;
        padding-top: 56.25%
    }

    .streamingContent {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%
    }

    .streamingTitle h1 {
        text-align: left;
        font-size: 110%;
        color: #fff;
        padding-top: 34%
    }

    .endCaption {
        background-color: #ff9
    }

    .endCaption p {
        font-size: 120%;
        font-weight: bold;
        color: #333;
        padding: 10px
    }

    .MSFTConnect {
        border: 1px solid #d0d0d0;
        padding: 10px;
        margin-top: 20px
    }

    .MSFTConnect h2 {
        color: #0078d7;
        margin-top: 0;
        margin-bottom: 10px
    }

    .MSFTConnect p {
        font-size: 120%
    }

    .twittterArea {
        margin-top: 20px
    }

    .ebanjeArea {
        border: 1px solid #d0d0d0;
        padding: 10px;
        margin-top: 20px
    }

    .ebanje {
        padding-bottom: 20px
    }

    p.ebjText,
    p.eveText {
        font-size: 110%
    }

    .ebjName {
        font-size: 110%;
        font-weight: bold
    }

    .ebjDescription {
        font-size: 65%
    }

    .ebjAccount {
        font-size: 75%;
        font-weight: bold
    }

    .eventArea {
        border: 1px solid #d0d0d0;
        padding: 10px;
        margin-top: 20px
    }

    .eventArea p.account,
    .eventArea p.hush {
        font-weight: bold
    }

    table.evePresent {
        width: 100%
    }

    table.evePresent th,
    table.evePresent td {
        border: 1px solid #d0d0d0;
        font-size: .9em
    }

    table.evePresent th {
        color: #fff;
        font-weight: bold;
        padding: 3px;
        background-color: #0078d7;
        width: 30%
    }

    table.evePresent td {
        padding: 3px
    }

    table.evePresent td.eveImg {
        position: relative;
        padding: 0
    }

    .evePresent img.evePresevtPC {
        width: 100%
    }

    .evePresent td p.imgCaption {
        position: absolute;
        bottom: 0;
        left: 5px;
        font-size: .9em
    }

    .ebnjeNote {
        text-align: right;
        font-weight: bold
    }

    .sponsorArea {
        padding: 10px
    }

    .sponsorArea h2 {
        margin-bottom: 0
    }

    span.blue {
        color: #0078d7
    }

    span.bd {
        font-weight: bold
    }

    span.small {
        font-size: .7em
    }

    .disclaimer {
        font-size: 80%;
        margin-top: 40px
    }

    @media screen and (max-width:1200px) {
        .heroArea h2 {
            font-size: 2.5vw
        }

        .heroArea a {
            font-size: 2vw
        }
    }

    @media screen and (min-width:540px) {

        .heroAreaSP,
        .ebanjeSP,
        .sponsorSP,
        .streamingTitle h1.SP,
        .evePresevtSP {
            display: none
        }
    }

    @media screen and (max-width:539px) {

        .heroArea,
        .ebanjePC,
        .sponsorPC,
        .streamingTitle h1.PC,
        .evePresevtPC,
        br.PC {
            display: none
        }

        .heroAreaSPHero {
            position: relative;
            height: 0;
            padding-top: 27.77%;
            background-image: url("//c.s-microsoft.com/ja-jp/CMSImages/connect2017_hero_sp.jpg?version=9d94119f-7557-43b8-c074-d7449244e0b6");
            background-size: contain
        }

        .heroAreaSPHero h2 {
            position: absolute;
            color: #fff;
            font-size: 3.5vw;
            font-weight: bold;
            top: 20%;
            left: 8%;
            text-align: left;
            margin-top: 0
        }

        .heroAreaSP .heroAreaSPBtn {
            padding: 10px 20px;
            text-align: center;
            vertical-align: middle;
            border: 1px solid #d0d0d0;
            background-color: #fff;
            color: #0078d7
        }

        .streaming {
            padding-top: 20px;
            padding-bottom: 0
        }

        .streamingTitle h1 {
            font-size: 100%;
            padding: 0 0 10px 0
        }

        .displayOrder {
            position: relative
        }

        .displayOrder01 {
            position: absolute;
            height: 900px;
            top: 0
        }

        .displayOrder02 {
            padding-top: 900px
        }

        .ebanjeSP {
            width: 100px
        }

        .evePresevtSP {
            width: 100%
        }

        table.evePresent th,
        table.evePresent td {
            display: block;
            width: 100%
        }

        .sponsorSP {
            width: 150px
        }

        #connect-banner{
            width: 450px;
        }
    }

    .row-div{
        float: left;
    }

    .line-break{
        clear: both;
    }